<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-alwaystop"
    version="1.0.0">

    <name>alwaystop</name>

    <description>
    </description>

    <keywords>alwaystop</keywords>
    <repo>https://github.com/cocodintechnology/cordova-plugin-alwaystop</repo>
    <license>Apache 2.0</license>

    <author>Diego Santiago Lijó - Cocodin Technology SL</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- js -->
    <js-module src="www/always-top.js" name="AlwaysTop">
        <clobbers target="cordova.plugins.AlwaysTop" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AlwaysTop">
                <param name="android-package"
                    value="com.vayapedal.alwaystop.AlwaysTop" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service
                android:name="com.vayapedal.alwaystop.ServiceLauncher"
                android:enabled="true"
                android:exported="false"
                android:foregroundServiceType="mediaProjection" />
        </config-file>


        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver
                android:name="com.vayapedal.alwaystop.BootReceiver"
                android:enabled="true"
                android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                </intent-filter>
            </receiver>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        </config-file>

        <source-file src="src/android/AlwaysTop.java"
            target-dir="src/com/vayapedal/alwaystop" />

        <source-file src="src/android/BootReceiver.java"
            target-dir="src/com/vayapedal/alwaystop" />

        <source-file src="src/android/LifecycleHandler.java"
            target-dir="src/com/vayapedal/alwaystop" />

        <source-file src="src/android/ServiceLauncher.java"
            target-dir="src/com/vayapedal/alwaystop" />

        <resource-file
            src="assets/icon.xml"
            target="res/drawable/service_icon.xml" />
    </platform>


</plugin>